* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}


header {
    
    background-color: #ffffff;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10; 
}

header .logo {
    font-family: 'Palm Summer';
    font-size: 1.8rem;
    color: #525B44;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    height: 40px; 
}

header nav {
    flex-grow: 1;
    padding-right: 100px; 
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
    justify-content: flex-end;
}

header nav ul li a {
    text-decoration: none;
    color: #525B44;
    font-size: 1.2rem;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffa726;
}

header .btnIndex {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .btnIndex .getInTouch {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px; 
    background-color: #ffa726;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

header .btnIndex .getInTouch:hover {
    background-color: #e69520;
}

header .btnIndex .search-icon {
    font-size: 1.2rem;
    color: #525B44;
    cursor: pointer;
}


.main {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    background-color: #fef8e8;
    min-height: 90vh;
}

.main .mainText {
    max-width: 50%;
}

.mainText {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}


.main h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main h1 span {
    color: #ffa726;
}

.main p {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 30px;
}

.main .mainImage img {
    padding-top: 80px;
    padding-right:  50px;    
    max-width: 100%;
    border-radius: 10px;
}

.main-leftBtn {

    margin-top: 20px; 
    text-align: left; 
}

.learnMoreBtn {
    display: inline-block; 
    padding: 10px 10px; 
    font-size: 1.2rem; 
    font-weight: bold; 
    text-decoration: none; 
    color: white; 
    background-color: #ffa726; 
    border-radius: 25px;
    transition: background-color 0.3s ease; 
}

.learnMoreBtn:hover {
    background-color: #e69520; 
}




.whyChoose {
    width: 100%;    
    margin: 5px auto;
    padding: 0px 50px 30px 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.whyChoose h2 {
    font-size: 2rem;
    color: #5A6C57;
    margin-bottom: 15px;
    text-align: center;
}

.whyChoose p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}

.whyChoose ul {
    list-style-type: square;
    margin-left: 20px;
}

.whyChoose li {
    font-size: 1.1rem;
    color: #333;
}


footer {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    position: relative;
    width: 100%;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}